# Zillow Data

In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pylab as plt
import seaborn as sns


import utils as utils

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn import tree
from sklearn import metrics
from sklearn import preprocessing

%reload_ext autoreload
%autoreload 2
df=utils.get_df('./zillowData/County_time_series.csv')

In [2]:
def customAccuracy(predicted, actual, accuracy):
    total = 0
    true = 0
    for i,y in zip(predications,actual):
        temp = y * accuracy/100
        bottomRange = y - temp
        topRange = y + temp
        if (i > bottomRange and i < topRange):
            true += 1
            total += 1
        else:
            total += 1
            
    return true/total

In [3]:
#print(df.columns)

In [4]:
df

,Date,RegionName,DaysOnZillow_AllHomes,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65600.0,NaN,85700.0,86000.0,129700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,10003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81900.0,NaN,116800.0,116900.0,181400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70600.0,NaN,110600.0,106800.0,192300.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,1009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,70000.0,70000.0,123500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,1017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
518786,2017-12-31,9007,NaN,1233.0,1128.0,NaN,150.265252,162.745814,152.768512,142.396246,...,172500.0,142900.0,259700.0,272400.0,381000.0,1620.0,1583.0,1.070,1302.0,1660.0
518787,2017-12-31,9009,NaN,4153.0,3710.0,145.474138,142.480588,155.308393,153.251934,108.097484,...,131700.0,132700.0,220000.0,238800.0,360200.0,1669.0,1593.0,1.154,1294.0,1729.0
518788,2017-12-31,9011,NaN,1651.0,1514.0,143.055556,137.813212,149.931507,138.903723,102.903196,...,157100.0,137700.0,224400.0,231500.0,361100.0,1566.0,1521.0,1.078,1150.0,1591.0
518789,2017-12-31,9013,NaN,736.0,655.0,NaN,140.014368,150.625992,136.361382,98.393826,...,157500.0,118700.0,220000.0,226400.0,327100.0,1709.0,1668.0,1.082,1311.0,1755.0
518790,2017-12-31,9015,NaN,538.0,490.0,NaN,133.359498,138.411079,113.813421,71.193866,...,143200.0,142700.0,191300.0,192700.0,272900.0,1325.0,1316.0,0.922,1124.0,1329.0

In [5]:
df=utils.get_df('./zillowData/County_time_series.csv')
df=df.query("RegionName != 'United_States'")
df=df[['RegionName', 'MedianListingPricePerSqft_1Bedroom',
       'MedianListingPricePerSqft_2Bedroom',
       'MedianListingPricePerSqft_3Bedroom',
       'MedianListingPricePerSqft_4Bedroom',
       'MedianListingPricePerSqft_5BedroomOrMore',
       'MedianListingPricePerSqft_AllHomes',
       'MedianListingPricePerSqft_CondoCoop',
       'MedianListingPricePerSqft_DuplexTriplex',
    'Sale_Prices']].dropna(axis=0)
df

,RegionName,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,MedianListingPricePerSqft_CondoCoop,MedianListingPricePerSqft_DuplexTriplex,Sale_Prices
270691,25009,229.540579,199.516575,199.502168,204.076195,165.837058,205.342903,197.524752,116.767144,286600.0
271440,42003,87.668981,66.049383,77.764977,99.975000,80.840307,82.157115,114.002415,38.268730,105800.0
272043,53063,154.062500,136.642157,141.168746,168.532334,175.541252,157.471393,142.788462,113.104524,169600.0
272248,8059,139.257893,146.128318,172.029176,178.731343,186.816268,170.376712,127.645349,165.446139,217600.0
272270,9001,232.572444,234.365242,250.946909,253.222836,327.464251,266.250000,240.693739,117.929814,415400.0
...,...,...,...,...,...,...,...,...,...,...
518706,6071,219.128076,198.137615,183.539673,191.963411,187.991531,194.012432,222.575517,167.076130,307900.0
518707,6073,475.631577,382.251421,338.238532,322.849216,347.881088,356.736787,403.384528,466.916308,540900.0
518713,6085,631.071373,534.499514,587.021533,577.521422,598.569154,621.419979,580.357143,546.390565,1099300.0
518726,6111,415.570175,366.279070,357.617699,334.867470,326.560232,349.552450,337.772099,348.731812,586500.0
518754,8059,270.407310,256.224269,266.390544,260.650481,279.746363,263.832644,228.122663,255.072944,386200.0

In [6]:
x = df[['RegionName', 'MedianListingPricePerSqft_1Bedroom',
       'MedianListingPricePerSqft_2Bedroom',
       'MedianListingPricePerSqft_3Bedroom',
       'MedianListingPricePerSqft_4Bedroom',
       'MedianListingPricePerSqft_5BedroomOrMore',
       'MedianListingPricePerSqft_AllHomes',
       'MedianListingPricePerSqft_CondoCoop',
       'MedianListingPricePerSqft_DuplexTriplex']]

y = df["Sale_Prices"]
print(x.shape)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

clf = svm.SVC()

clf.fit(X_train, y_train)

predications = clf.predict(X_test)

accuracy = metrics.accuracy_score(y_test, predications)

print(f"accuracy: {accuracy:.2f}")

(2144, 9)
accuracy: 0.00

In [7]:
print(len(X_train))
print(len(y_train))

print(len(X_test))
print(len(y_test))

1715
1715
429
429

In [8]:
print(len(y_test))
print(len(predications))
y_test[0:5]

429
429

466150    204800.0
503474    455900.0
311569    437400.0
365413    385100.0
453803    462400.0
Name: Sale_Prices, dtype: float64

In [9]:
# Testing custom accuracy 
customAccuracy(predications, y_test, 100)

1.0

In [10]:
# Visual check predicted and actual 
for i,y in zip(predications,y_test):
    temp = y * accuracy/100
    bottomRange = y - temp
    topRange = y + temp

# Attom API

In [11]:
url1 = "https://raw.githubusercontent.com/MikePlekan/Real-Estate-project/Michael/data.csv"
url2 = "https://raw.githubusercontent.com/MikePlekan/Real-Estate-project/Michael/sales.csv"

df = pd.read_csv(url1)
sales = pd.read_csv(url2)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(df[['yearbuilt','universalsize','beds','bathstotal']],sales['saleamt'], test_size=0.6, random_state=42)

#Decision Tree creatation
clf = HistGradientBoostingClassifier()

clf.fit(X_train, y_train)

predications = clf.predict(X_test)

accuracy = metrics.adjusted_rand_score(y_test, predications)

print(f"accuracy: {accuracy:.2f}")
customAccuracy(predications, y_test, 10)

accuracy: 0.08

0.20055821371610846